/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:60px;
    max-width:100%!important;
    text-align: center;
}


input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

ul.menubar{
    list-style: none;
    display: inline;
    text-align: center;

}

ul.menubar li{
    display: inline;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

ul.menubar li a{
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

ul.menubar li.new:hover{
    color: white;
    background-color:black;
}

ul.menubar li.open:hover{
    color: white;
    background-color:rgb(36, 172, 221);
}

ul.menubar li.save:hover{
    color: white;
    background-color:#4B5F9D;
}

ul li.options:hover{
    color: white;
    background-color:9D4B7D;
}

/*user styles*/
.toolbar {
    height: 50px;
}


.EditArea {
    text-align: left;
    height: 100%;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    width: 700px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.EditArea img {
    max-width: 700px;
}

.EditArea:focus {
    outline: none !important;
}

.mdoutput {
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}
